@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Wet+Paint&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Montserrat:wght@600&display=swap');


:root{
    --color1: #512DA8;
    --color2:#FFC107;
    --color3: #3f3c30;
    --fondo: #F5F7F9;
    --border: #c9c8c6;
}

.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    margin: 50px auto;
    animation: spin988 2s linear infinite;
  }
  
  .loader .circle {
    --color: #ffc163;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
  }
  
  .loader .circle:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%, 25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%, 50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%, 75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%, 100% {
      transform: scale(1) rotate(360deg);
    }
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer {
    background-color: #ffc163; /* Cor do rodapé */
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Altera para relativo */
    width: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f4f6; /* cor de fundo clara */
}
header {
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    border-radius: 8px 8px 0 0; /* Arredonda os cantos superiores */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      40deg,
      #00076d 50%,
      #5b06a1 55%,
      #00076d 55%
    );
    background-size: 2em 2em;
    background-repeat: round;
    background-color: #FFC107;
}
.container2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        #FFC107 25%,
        transparent 25%,
        transparent 75%,
        #FFC107 75%,
        #FFC107
      ),
      linear-gradient(
        45deg,
        #FFC107 25%,
        transparent 25%,
        transparent 75%,
        #FFC107 75%,
        #FFC107
      );
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
  
.container{
    max-width: 1120px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 100%;
}
.pizza-img img{
    width: 200px; /* ajuste para o tamanho desejado */
    height: 200px; /* ajuste para o tamanho desejado */
    object-fit: cover; /* ajusta a imagem dentro do contêiner, cortando o excesso */
  }
.banner {
    width: 100%; /* Ocupa toda a largura do container */
    max-width: 1200px; /* Define um limite de largura máxima */
    margin: 50px auto; /* Centraliza o banner horizontalmente */
    text-align: center; /* Centraliza o conteúdo dentro do banner */
    overflow: hidden; /* Para ocultar o que ultrapassar os limites do banner */
}

.banner img {
    width: 100%; /* Faz a imagem ocupar toda a largura do banner */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 300px; /* Define uma altura máxima para o banner */
    object-fit: cover; /* Garante que a imagem se ajuste ao espaço disponível */
    transition: transform 0.3s ease, filter 0.3s ease; /* Animação suave para transformação e filtro */
    filter: brightness(1.1); /* Aumenta o brilho da imagem */
}

.banner:hover img {
    transform: scale(1.05); /* Aumenta a escala da imagem ao passar o mouse */
    filter: brightness(1.2); /* Aumenta o brilho da imagem ao passar o mouse */
}
.background-animated-container {
    text-transform: uppercase;
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento ao redor do texto */
    display: inline-block; /* Para que o fundo se ajuste ao texto */
    background: gray;
    background-size: 400%;
    animation: animatetext 8s ease-in-out infinite;
    border-radius: 10px; /* Borda arredondada opcional */
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
    background: linear-gradient(135deg, #b45100 0%, #ff7300 25%, #ffffff, #ff7300 75%, #FFC107 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatetext 8s ease-in-out infinite;
}

@keyframes animatetext {
    100% {
        background-position: 400%;
    }
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 50px;
}

.product-grid__item{
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}
.banner img {
    animation: pulse 8s infinite;
}

@keyframes pulse {
    0%, 100% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5); /* Aumenta o brilho no meio do ciclo */
    }
}
.product-grid__imagen{
    text-align: center;
}

.product-grid__info{
    padding: 15px;
    text-align: center;
}

.product-grid__name{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color3);
    margin-bottom: 6px;
    font-weight: 400;
    text-transform: uppercase;
    background: gray;
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatetext 8s ease-in-out infinite;
}
.product-grid__name2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: var(--color3);
    margin-bottom: 6px;
    font-weight: 400;
    text-transform: uppercase;
    background: linear-gradient(135deg, #b45100 0%, #ff7300 25%, #ffffff, #ff7300 75%, #FFC107 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatetext 8s ease-in-out infinite;
}

.product-grid__price{
    font-size: 16px;
    font-weight: 600;
    color: var(--color3);
}
.product-grid__price2{
    font-size: 25px;
    font-weight: 650;
    color: var(--color3);
}

.product-grid__btn{
    margin-top: 20px;
}

.btn-default,
.btn-border,
.btn-primary{
    width: 100%;
    height: 48px;
    line-height: 48px;
    outline: 0;
    display: inline-block;
    border-radius: 25px;
    cursor: pointer;
    padding: 0 20px;

    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.btn-default{
    background-color: var(--color2);
    color: var(--color1);
}

.btn-default:hover{
    background-color: var(--color1);
    color: #fff;
}


.btn-border{
    border: 2px solid var(--color1);
    color: var(--color1);
    background-color: transparent;
}

.btn-border:hover{
    background-color: var(--color2);
    border-color: var(--color2);
}

.btn-primary{
    background-color: var(--color1);
    color: #fff;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--fondo);
    width: 100%;
    max-width: 350px;
    height: 100vh;

    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all .35s ease-in;

    z-index: 20000;
}

.modal::after{
    position: fixed;
    top: 0;
    right: 350px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;

    opacity: 0;
    content: '';
    pointer-events: none;
    transition: all .35s ease-in;
}

.modal.active{
    visibility: visible;
    opacity: 1;
    transform: none;
}

.modal.active::after{
    opacity: 1;
    pointer-events: auto;
}
.modal__container{
    height: 100%;
    padding: 30px;
    position: relative;
    z-index: 1000;
}

.modal__close{
    position: absolute;
    left: -50px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color2);
    color: var(--color1);
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.modal__info{
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}

.modal__header{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border);
}

.modal__header h2{
    font-size: 24px;
    color: var(--color1);
    font-weight: 600;
}

.modal__header h2 i{
    margin-right: 10px;
}

.modal__body{
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
    flex-grow: 1;
}

.modal__item{
    display: flex;
    align-items: center;
}

.modal__item + .modal__item{
    margin-top: 20px;
}

.modal__thumb{
    width: 80px;
}

.modal__text-product{
    width: calc(100% - 80px);
    padding-left: 20px;
}

.modal__text-product p strong{
    color: var(--color1);
    margin-top: 6px;
}

.modal__footer{
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid var(--border);
}

.modal__list-price ul li+li{
    margin-top: 10px;
}

.modal__list-price ul li strong{
    color: var(--color1);
}

.modal__total-cart{
    font-size: 20px;
    color: var(--color1);
    margin: 20px 0;
}

.modal__btns{
    padding-top: 30px;
    border-top: 1px solid var(--border);
}

.modal__btns a+a{
    margin-top: 15px;
}

@media (max-width: 820px){
    .product-grid{
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width: 600px){
    .product-grid{
        grid-template-columns: 1fr;
    }
}

.card:hover .card-background{
    transform: scale(1.15) translate(0);
    background-size: 300px;
}
.card-grid:hover > card:not(:hover){
    transform: scale(.9);
}
.card-grid:hover > .card:not(:hover) .card-background,
.card-grid:hover > .card:not(:hover) .card-category{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    fill: #666;
  }
  
  .rating:not(:checked) > label > svg {
    fill: #666; /* Set default color for SVG */
    transition: fill 0.3s ease; /* Add a transition effect */
  }
  
  @import url(https://fonts.googleapis.com/css?family=Raleway);
.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1584 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1584 h3,
.snip1584 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.snip1584 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1584 h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h3,
.snip1584.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


.header nav {
    background: linear-gradient(
      45deg,
      orange 25%,
      transparent 25%,
      transparent 75%,
      orange 75%,
      orange
    ),
    linear-gradient(
      45deg,
      orange 25%,
      transparent 25%,
      transparent 75%,
      orange 75%,
      orange
    );
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
    opacity: 0.7;
    height: 100px;
    width: 100%;
    font-family: montserrat;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.header.nav::before {
  content: "";
  width: 100%;
  height: 150%;
  box-shadow: 0px -100px 500px black, inset 0px 100px 500px rgb(15, 15, 15);
  position: absolute;
  top: 55%;
  background-image: var(--bg);
  background-size: var(--bgsize);
  background-position: var(--bgposition);
  transform-origin: top;
  transform: rotateX(80deg);
}


.logo-image {
    padding-bottom: 10px;
    padding-left: 70px;
    height: 100px; /* Ajuste a altura conforme necessário */
    width: auto; /* Mantém a proporção da imagem */
    margin-right: 20px; /* Espaçamento entre o logo e o menu */
}

.header label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.header nav ul {
    float: right;
    margin-right: 80px;
}

.header nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}
.button-container {
  display: flex;
  background-color: rgba(0, 73, 144);
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
}

button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   button:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }

.icon {
  font-size: 20px;
}

.header nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

.header a.active, .header a:hover {
    background-color: grey;
    transition: .5s;
}

.header .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

.header #check {
    display: none;
}

@media (max-width: 952px) {
    .header label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .header nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .header .checkbtn {
        display: block;
    }
    .header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: gray;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .header nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .header nav ul li a {
        font-size: 20px;
    }
    .header a:hover, .header a:active {
        background: none;
        color: #512DA8;
    }
    .header #check:checked ~ ul {
        left: 0;
    }
}


#cornome{color: rgb(185, 26, 185);}
.main-footer {
    font-family: "Tiny5", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background:#512DA8;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 100px;
    border-radius: 60px 0 0 0;
}

/* TOP FOOTER */
.top-footer {
    display: flex;
    padding: 40px 0;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.logo-box {
    max-width: 300px;
    font-size: 30px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}
.logo-title {
    font-size: 32px;
    color: red;
}

.label-menu {
    /* border: solid; */
    font-weight: 600;
    position: relative;
    width: fit-content;
    padding-bottom: 8px;
    margin-bottom: 16px;
}
.label-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255, 0.3);
    bottom: 0;
}
.menu-box {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}
.menu-box a {
    /* border: solid; */
    text-decoration: none;
    color: #C2C4C8;
    position: relative;
    left: 0;
    bottom: 0;
    transition: 0.25s;
}
.menu-box a:hover {
    left: 4px;
    bottom: 1px;
    color: white;
}

.newsletter-box {
    max-width: 300px;
}
.newsletter-message {
    color: #C2C4C8;
}
.input-box {
    /* border: solid; */
    display: flex;
    margin-top: 16px;
}

.email-input {
    width: 100%;
    padding: 12px;
    border-radius: 12px 0 0 12px;
    border: none;
    outline: none;
    color: black;
    font-weight: 500;
}
.enviar-btn {
    background: #000000;
    width: 55px;
    border: none;
    border-radius: 0 12px 12px 0;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s;
}
    .footerclass{
        position: relative; /* Para que o footer seja posicionado em relação ao body */
        margin: 0; /* Remova margens padrão */
        padding-bottom: 100px; /* Adicione espaço para o footer */
        position: relative;
        z-index: 10; /* Adiciona z-index ao footer */    
    }
.enviar-btn:hover {
    background: #f61e1e;
}
/* END TOP FOOTER */
/* BOTTOM FOOTER */
.bottom-footer {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: solid 2px rgb(255, 255, 255, 0.05);
    align-items: center;
}

.copyright-txt {
    color: #C2C4C8;
    text-align: center;
}

.midia-social {
    /* border: solid; */
    display: flex;
    gap: 24px;
}
.midia-social i {
    font-size: 32px;
    color: #C2C4C8;
    position: relative;
    bottom: 0;
    transition: 0.25s;
}
.midia-social i:hover {
    bottom: 3px;
    color: rgb(255, 7, 7);
}
/* END BOTTOM FOOTER */

/* RESPONSIVE SCREEN */
@media (max-width: 1024px) {
    .main-footer {
        padding: 0 50px;
    }
    .logo-box {
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    .main-footer {
        padding: 0 25px;
    }
    .bottom-footer {
        flex-direction: column;
        gap: 25px;
    }
}

.custom-slider {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    margin-bottom: 100px;
}

.custom-slider .card-wrapper {
    position: relative;
    max-width: 1100px;
    margin: 0 auto 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.custom-slider .swiper-button-prev,
.custom-slider .swiper-button-next {
    top: 50%;
    color: red;
    position: absolute; /* Altere para absoluto para posicionamento adequado */
    top: 50%;
    transform: translateY(-50%);
    z-index: 5; /* Aumente o z-index para o slider */
}

.custom-slider .swiper-button-prev {
    left: -50px; /* ou maior se necessário */
}

.custom-slider .swiper-button-next {
    right: -50px; /* ou maior se necessário */
}

.custom-slider .card-list {
    list-style: none;
}

.custom-slider .card-item .card-link {
    user-select: none;
    display: block;
    background: white;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: solid 1px transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    transition: 0.2s ease;
}

.custom-slider .card-item .card-link:hover {
    border-color: #512DA8;
}

.custom-slider .card-item .card-link:active {
    cursor: grabbing;
}

.custom-slider .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.custom-slider .card-link .badge {
    color: black;
    margin: 16px 0 18px;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    width: fit-content;
    background-color: #512DA8;
    border-radius: 50px;
}

.custom-slider .card-link .badge.designer {
    background-color: #512DA8;
}

.custom-slider .card-link .badge.gamer {
    background-color: #512DA8;
}

.custom-slider .card-link .badge.marketer {
    background-color: #512DA8;
}

.custom-slider .card-link .badge.editor {
    background-color: grey;
}

.custom-slider .card-link .card-title {
    font-size: 1.19rem;
    color: black;
    font-weight: 600;
}

.custom-slider .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #512DA8;
    border-radius: 50%;
    margin: 30px 0 5px;
    border: 2px solid #512DA8;
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.custom-slider .card-link:hover .card-button {
    background-color: #512DA8;
    color: black;
}

.custom-slider .card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
}

.custom-slider .card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.custom-slider .card-wrapper .swiper-slide-button {
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .custom-slider .card-wrapper {
        margin: 0 10px 25px;
    }

    .custom-slider .card-wrapper .swiper-slide-button {
        display: none;
    }
}