@media screen and (max-width: 630px){
    header nav#nav-esq{
        justify-content: space-between;
    }
    header nav#nav-esq ul#icone-menu{
        display: flex;
    }
    header nav#nav-esq ul#icone-menu{
        display: flex;
    }
    header nav#nav-esq ul#icone-menu li#menuX{
        display: none;
    }

    header nav#nav-esq ul#menu-principal{
        flex-direction: column;
        width: 80%;
        /*height: 85vh;*/
        background: linear-gradient(#2a0308 0%, #924f1b 45%, #f8ebbe 100%);
        padding-top: .5rem;
        position: absolute;
        top: 9.3rem;
        right: 0;
        z-index: 999;
        display: none;
    }
    header nav#nav-esq ul#menu-principal li{
        margin: .5rem;
        margin-left: 1rem;
    }
    header nav#nav-esq ul#menu-principal li a{
        font-size: 120%;

    }
}