@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/five-nights-at-freddys');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Wet+Paint&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Montserrat:wght@600&display=swap');


body{
    background-color: black;
}
.faixa2{
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20%;
    padding-top: 25px;
    height: 700px;
    gap: 100px;
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 40px 40px;
  
    /* Animation */
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }

.faixa2 h1{
    font-size: 72px;
    color: white;
}
.card2 {
    left: 20%;
    overflow: visible;
    width: 450px;
    height: 500px;
  }
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .front, .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 5000ms infinite linear;
  }
  
  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .card2:hover .content {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  
  .title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .title p {
    width: 50%;
  }
  
  .card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
  }
  
  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffbb66;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
  }
  
  #bottom {
    background-color: #ff8866;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
  }
  
  #right {
    background-color: #ff2233;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }

.faixa {
    font-family: 'Inter', sans-serif;
    width: 100%;
    display: flex;
    height: 500px;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    padding: 20px;
    --s: 60px;
    --c1: #180a22;
    --c2: #5b42f3;
    --_g: radial-gradient(
      25% 25% at 25% 25%,
      var(--c1) 99%,
      rgba(0, 0, 0, 0) 101%
    );
    background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
        calc(2 * var(--s)),
      var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
      radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
        var(--s),
      repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
        calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
}


.card-group {
    display: flex;
    gap: 25px;
    align-items: center;
}

.card {
    width: 350px;
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.5s;
    transform: scale(1);
}

.card .layer {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    opacity: 0;
    transition: 0.3s;
}

.card .info {
    color: white;
    position: absolute;
    bottom: -60%;
    padding: 15px;
    transition: 0.5s bottom, 1.75s opacity;
    opacity: 0;
}

.info p {
    font-size: 14px;
    margin-top: 3px;
}

.info button {
    background-color: red;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 8px;
    color: white;
}

.card:hover,
.card:hover img {
    transform: scale(1.1);
}

.card:hover > .layer {
    opacity: 1;
}

.card:hover > .info {
    bottom: 0;
    opacity: 1;
}

.card-group:hover > .card:not(:hover) {
    filter: blur(4px);
}




.ada{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Five Nights At Freddys', sans-serif;
    display: flex;
    align-items: center;
    background-color: white;
}
.loja{

    display: flex;
    width: 100%;
    height: 800px;
    background-image: url(./assets/pizzaria.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 800px;
    justify-content: flex-end; /* Alinha o conteúdo no lado direito */
    align-items: flex-start;
    
}
.vermelho{
    display: flex;
    border-top: 20px white;
    width: 100%;
    height: 800px;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.vermelho img{
    width: 25%;
    height: 70%;
}
.vermelho p{
    position: relative;
    left: -20px;
    color: white;
    font-size: 20px;
}

.textos{
    width: 400px;
    height: 600px;

}
.loja h1 {
    color: white;
    font-size: 50px;
    text-shadow: 10px 10px 20px rgb(196, 113, 5);
    position: relative;
    top: 0;
}
.loja p{
    color: white;
    font-size: 20px;
    text-shadow: 5px 5px 10px blue;
}


.posicao{
    display: flex;
    position: absolute;
}



nav{
    background-color: black;
    height: 80px;
    width: 100%;

}

label.logo{
    color: white;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.logo img{
    width: 25%;
}
nav ul{
    float: right;
    margin-right: 80px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;

}
a.active, a:hover{
    background-color: grey;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;

    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;

    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: gray;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a:active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;

    }
}

.main-footer {
    font-family: "Tiny5", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background:#512DA8;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 100px;
}

/* TOP FOOTER */
.top-footer {
    display: flex;
    padding: 40px 0;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.logo-box {
    max-width: 300px;
    font-size: 30px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}
.logo-title {
    font-size: 32px;
    color: red;
}

.label-menu {
    /* border: solid; */
    font-weight: 600;
    position: relative;
    width: fit-content;
    padding-bottom: 8px;
    margin-bottom: 16px;
}
.label-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255, 0.3);
    bottom: 0;
}
.menu-box {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}
.menu-box a {
    /* border: solid; */
    text-decoration: none;
    color: #C2C4C8;
    position: relative;
    left: 0;
    bottom: 0;
    transition: 0.25s;
}
.menu-box a:hover {
    left: 4px;
    bottom: 1px;
    color: white;
}

.newsletter-box {
    max-width: 300px;
}
.newsletter-message {
    color: #C2C4C8;
}
.input-box {
    /* border: solid; */
    display: flex;
    margin-top: 16px;
}

.email-input {
    width: 100%;
    padding: 12px;
    border-radius: 12px 0 0 12px;
    border: none;
    outline: none;
    color: black;
    font-weight: 500;
}
.enviar-btn {
    background: #000000;
    width: 55px;
    border: none;
    border-radius: 0 12px 12px 0;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s;
}
    .footerclass{
        position: relative; /* Para que o footer seja posicionado em relação ao body */
        margin: 0; /* Remova margens padrão */
        padding-bottom: 100px; /* Adicione espaço para o footer */
        position: relative;
        z-index: 10; /* Adiciona z-index ao footer */    
    }
.enviar-btn:hover {
    background: #f61e1e;
}
/* END TOP FOOTER */
/* BOTTOM FOOTER */
.bottom-footer {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: solid 2px rgb(255, 255, 255, 0.05);
    align-items: center;
}

.copyright-txt {
    color: #C2C4C8;
    text-align: center;
}

.midia-social {
    /* border: solid; */
    display: flex;
    gap: 24px;
}
.midia-social i {
    font-size: 32px;
    color: #C2C4C8;
    position: relative;
    bottom: 0;
    transition: 0.25s;
}
.midia-social i:hover {
    bottom: 3px;
    color: rgb(255, 7, 7);
}
/* END BOTTOM FOOTER */

/* RESPONSIVE SCREEN */
@media (max-width: 1024px) {
    .main-footer {
        padding: 0 50px;
    }
    .logo-box {
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    .main-footer {
        padding: 0 25px;
    }
    .bottom-footer {
        flex-direction: column;
        gap: 25px;
    }
}