@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

.card-wrapper {
    position: relative;
    max-width: 1100px;
    margin: 0 auto 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: red;
}


.swiper-button-prev {
    left: -50px; /* ou maior se necessário */
}

.swiper-button-next {
    right: -50px; /* ou maior se necessário */
}

.container, .swiper {
    position: relative; /* Define o contêiner como referência */
}


.card-item .card-list{
    list-style: none;
}

.card-list .card-item .card-link{
    user-select: none;
    display: block;
    background: white;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: solid 1px transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    transition: 0.2s ease;
}
.card-list .card-item .card-link:hover{
    border-color: red;
}
.card-list .card-item .card-link:active{
    cursor: grabbing;
}


.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{
    color: black;
    margin: 16px 0 18px;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    width: fit-content;
    background-color: red;
    border-radius: 50px;
}
.card-list .card-link .badge.designer{
    color:black;
    background-color: aqua;
}
.card-list .card-link .badge.gamer{
    color: black;
    background-color: orange;
}
.card-list .card-link .badge.marketer{
    color: black;
    background-color: green;

}
.card-list .card-link .badge.editor{
    color: black;
    background-color: grey;
}

.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: black;
    font-weight: 600;

}

.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    color: red;
    border-radius: 50%;
    margin: 30px 0 5px;
    border: 2px solid red;
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button{
    background-color: red;
    color: black;

}

.card-wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5;
}

.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;

}

.card-wrapper .swiper-slide-button{
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}